@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	margin: 0;
	padding: 0; 
	overflow-x: hidden;
}

#intro {
	background: radial-gradient(#fff, #aaa);
  	height: 100vh;
  	width: 100vw;
  	position: relative;
}

#introbg1{
	background-color: rgb(198, 10, 49);
	height: 0;
	width: 0;
	animation: bg 3s;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}

@keyframes bg{
	0%{
		float: right;
		height: 100vh;
	}
	100%{
		position: relative;
		height: 100vh;
		width: 50.5vw;
		float: right;
	}
}

#messenger {
  font-family: 'Roboto Condensed' , sans-serif;
  color: #e90418;
  font-size: 10vmin;
  font-weight: 700;
  animation: netflix_style 5s infinite;
  position: relative;
  white-space: nowrap;
  animation-iteration-count: 1;
  padding: 2.5% 3.5%;
  top: 0;
  left: 0;
  text-shadow: 2px 2px #A30210;
}

@keyframes netflix_style {
  0% {
  	opacity: 1;
    text-shadow: 0px 0px transparent, 1px 1px #aaa, 2px 2px #aaa, 3px 3px #aaa, 4px 4px #aaa, 5px 5px #aaa, 6px 6px #aaa, 7px 7px #aaa, 8px 8px #aaa, 9px 9px #aaa, 10px 10px #aaa, 11px 11px #aaa, 12px 12px #aaa, 13px 13px #aaa, 14px 14px #aaa, 15px 15px #aaa, 16px 16px #aaa, 17px 17px #aaa, 18px 18px #aaa, 19px 19px #aaa, 20px 20px #aaa, 21px 21px #aaa, 22px 22px #aaa, 23px 23px #aaa, 24px 24px #aaa, 25px 25px #aaa, 26px 26px #aaa, 27px 27px #aaa, 28px 28px #aaa, 29px 29px #aaa, 30px 30px #aaa, 31px 31px #aaa, 32px 32px #aaa, 33px 33px #aaa, 34px 34px #aaa, 35px 35px #aaa, 36px 36px #aaa, 37px 37px #aaa, 38px 38px #aaa, 39px 39px #aaa, 40px 40px #aaa, 41px 41px #aaa, 42px 42px #aaa, 43px 43px #aaa, 44px 44px #aaa, 45px 45px #aaa, 46px 46px #aaa, 47px 47px #aaa, 48px 48px #aaa, 49px 49px #aaa, 50px 50px #aaa, 51px 51px #aaa, 52px 52px #aaa, 53px 53px #aaa, 54px 54px #aaa, 55px 55px #aaa, 56px 56px #aaa, 57px 57px #aaa, 58px 58px #aaa, 59px 59px #aaa, 60px 60px #aaa, 61px 61px #aaa, 62px 62px #aaa, 63px 63px #aaa, 64px 64px #aaa, 65px 65px #aaa, 66px 66px #aaa, 67px 67px #aaa, 68px 68px #aaa, 69px 69px #aaa, 70px 70px #aaa, 71px 71px #aaa, 72px 72px #aaa, 73px 73px #aaa, 74px 74px #aaa, 75px 75px #aaa, 76px 76px #aaa, 77px 77px #aaa, 78px 78px #aaa, 79px 79px #aaa, 80px 80px #aaa, 81px 81px #aaa, 82px 82px #aaa, 83px 83px #aaa, 84px 84px #aaa, 85px 85px #aaa, 86px 86px #aaa, 87px 87px #aaa, 88px 88px #aaa, 89px 89px #aaa, 90px 90px #aaa, 91px 91px #aaa, 92px 92px #aaa, 93px 93px #aaa, 94px 94px #aaa, 95px 95px #aaa, 96px 96px #aaa, 97px 97px #aaa, 98px 98px #aaa, 99px 99px #aaa, 100px 100px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
    text-align: center;
    padding-top: 40vh;
  }
  10% {
    text-shadow: 0px 0px transparent, 1px 1.5px #aaa, 2px 3px #aaa, 3px 4.5px #aaa, 4px 6px #aaa, 5px 7.5px #aaa, 6px 9px #aaa, 7px 10.5px #aaa, 8px 12px #aaa, 9px 13.5px #aaa, 10px 15px #aaa, 11px 16.5px #aaa, 12px 18px #aaa, 13px 19.5px #aaa, 14px 21px #aaa, 15px 22.5px #aaa, 16px 24px #aaa, 17px 25.5px #aaa, 18px 27px #aaa, 19px 28.5px #aaa, 20px 30px #aaa, 21px 31.5px #aaa, 22px 33px #aaa, 23px 34.5px #aaa, 24px 36px #aaa, 25px 37.5px #aaa, 26px 39px #aaa, 27px 40.5px #aaa, 28px 42px #aaa, 29px 43.5px #aaa, 30px 45px #aaa, 31px 46.5px #aaa, 32px 48px #aaa, 33px 49.5px #aaa, 34px 51px #aaa, 35px 52.5px #aaa, 36px 54px #aaa, 37px 55.5px #aaa, 38px 57px #aaa, 39px 58.5px #aaa, 40px 60px #aaa, 41px 61.5px #aaa, 42px 63px #aaa, 43px 64.5px #aaa, 44px 66px #aaa, 45px 67.5px #aaa, 46px 69px #aaa, 47px 70.5px #aaa, 48px 72px #aaa, 49px 73.5px #aaa, 50px 75px #aaa, 51px 76.5px #aaa, 52px 78px #aaa, 53px 79.5px #aaa, 54px 81px #aaa, 55px 82.5px #aaa, 56px 84px #aaa, 57px 85.5px #aaa, 58px 87px #aaa, 59px 88.5px #aaa, 60px 90px #aaa, 61px 91.5px #aaa, 62px 93px #aaa, 63px 94.5px #aaa, 64px 96px #aaa, 65px 97.5px #aaa, 66px 99px #aaa, 67px 100.5px #aaa, 68px 102px #aaa, 69px 103.5px #aaa, 70px 105px #aaa, 71px 106.5px #aaa, 72px 108px #aaa, 73px 109.5px #aaa, 74px 111px #aaa, 75px 112.5px #aaa, 76px 114px #aaa, 77px 115.5px #aaa, 78px 117px #aaa, 79px 118.5px #aaa, 80px 120px #aaa, 81px 121.5px #aaa, 82px 123px #aaa, 83px 124.5px #aaa, 84px 126px #aaa, 85px 127.5px #aaa, 86px 129px #aaa, 87px 130.5px #aaa, 88px 132px #aaa, 89px 133.5px #aaa, 90px 135px #aaa, 91px 136.5px #aaa, 92px 138px #aaa, 93px 139.5px #aaa, 94px 141px #aaa, 95px 142.5px #aaa, 96px 144px #aaa, 97px 145.5px #aaa, 98px 147px #aaa, 99px 148.5px #aaa, 100px 150px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
    text-align: center;
    padding-top: 40vh;
  }
  15% {
    color: #f3f3f3;
    text-align: center;
    padding-top: 40vh;
  }
  20% {
    color: #e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
    text-align: center;
    padding-top: 40vh;
  }
  75% {
    opacity: 1;
    color: #e90418;
    transform: scale(0.85, 0.9);
    text-align: center;
    padding-top: 40vh;
  }
  80% {
    opacity: 1;
    color: #e90418;
    transform: scale(1, 1);
    text-align: center;
    padding-top: 40vh;
  }
  100% {
    opacity: 1;
    color: #e90418;
    top: 0;
  }
}

#logo {
	height: 0;
	width: 0;
	padding-top: 10vh;
	padding-left: 42vw;
	z-index: 10;
	animation: fadein 5s;
	animation-delay: 8s;
	animation-fill-mode: forwards;
	position: absolute;
}

@keyframes fadein {
    from { 
    	opacity: 0;
		height: 45vh;
		width: 15vw;
     }
    to   { 
    	opacity: 1; 
  		height: 45vh;
		width: 15vw;
	}
}

#quote1 {
	color: black;
	font-size: 0px;
	position: absolute;
	z-index:20;
	height: 0;
	width: 0;
	padding-top: 17vh;
	padding-left: 5vw;
	font-family: 'Barlow Semi Condensed', sans-serif;
	animation: fadein2 4s;
	animation-delay: 10s;
	animation-fill-mode: forwards;
  	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

#quote2{
	color: white;
	font-size: 0px;
	position: absolute;
	z-index:20;
	height: 0;
	width: 0;
	padding-top: 17vh;
	padding-left: 65vw;
	font-family: 'Barlow Semi Condensed', sans-serif;
	animation: fadein2 4s;
	animation-delay: 10s;
	animation-fill-mode: forwards;
  	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

@keyframes fadein2 {
	0%{
		opacity: 0;
		height: 30vh;
		width: 30vw;
		font-size: 40px;
	}
	100%{
		opacity: 1;
		height: 30vh;
		width: 30vw;
		font-size: 40px;
	}
}

#scroll {
	height: 0;
	width: 0;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 2px;
	font-weight: none;
	padding-top:65vh;
	text-align: center;
	font-size:0px;
	animation: fadein1 2s infinite;
	animation-delay: 13s;
	animation-fill-mode: forwards;
	position: absolute;
	z-index: 10;
}

@keyframes fadein1 {
    0% { 
    	opacity: 0;
		height: 10vh;
		width: 100vw;
		text-align: center;
		font-size:20px;
     }
    50%   { 
    	opacity: 1; 
  		height: 10vh;
		width: 100vw;
		font-size:20px;
	}
	100% { 
    	opacity: 0;
		height: 10vh;
		width: 100vw;
		text-align: center;
		font-size:20px;
     }
}


#gallery {
	background-color: #1e90ff;
	width: 100vw;
	height: 100vh;
	position: relative;
}

#galleryhead {
	position: absolute;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#arrowleft {
	background-color: white;
	width: 9vw;
	height: 8vh;
	position: absolute;
	bottom: 45vh;
	left: 0vw;
	z-index: 999;
}

#arrowright {
	background-color: lightblue;
	width: 9vw;
	height: 8vh;
	position: absolute;
	bottom: 45vh;
	left: 9vw;
	z-index: 999;
}

#item1 {
	background-color: white;
	width: 25vw;
	height: 45vh;
	position: absolute;
	bottom: 0vh;
	left: 0vw;
	z-index: 999;
}

#item2 {
	background-color: black;
	width: 25vw;
	height: 45vh;
	position: absolute;
	bottom: 0vh;
	left: 25vw;
	z-index: 999;
}

#item3 {
	background-color: white;
	width: 25vw;
	height: 45vh;
	position: absolute;
	bottom: 0vh;
	left: 50vw;
	z-index: 999;
}

#iteminfo {
	background-color: #ffd200;
	width: 50vw;
	height: 60vh;
	position: absolute;
	bottom: 15vh;
	right: 0px;
}

#gallerybottom {
	background-color: #f3115b;
	width: 25vw;
	height: 15vh;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#events {
	background-color: #ffd200;
	width: 100vw;
	height: 100vh;
	position: relative;
}

#eventshead {
	position: absolute;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#detail{
	position: absolute;
	right: 8vw;
	top: 10.5vw;
	width: 35vw;
	height: 9vw;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
	font-size: 1vw;
	z-index: 999;
}

#detailheading{
	font-size: 2vw;
	font-weight: bold;
}	

.event {
	height: 23vw;
	width: 17vw;
	font-size: 1vw;
	font-family: 'Roboto Condensed', sans-serif;
}

.event p {
	padding: 15px;
}

#event1 {
	background-color: white;
	color: black;
}	

#event2 {
	background-color: black;
	color: white;	
}	

#event3 {
	background-color: white;
	color: black;	
}	

.eventlist {
	bottom: 3.5vw;
	left: 15vw;
	position: absolute;
	height: ;
	width: 70vw;
	display:flex;
	justify-content: space-around;
	z-index: 100;
}

.eventimg {
	width:100%;
	max-height:50%;
}

#eventcard {
	background-color: white;
	width: 95vw;
	height: 19vw;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

#members {
	background-color: white;
	width: 100vw;
	height: 100vh;
	position: relative;
}

#membershead {
	position: absolute;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#memberinfo {
	background-color: #f3115b;
	width: 48vw;
	height: 66vh;
	position: absolute;
	top: 0px;
	right: 0px;
}


#contact {
	background-color: white;
	width: 100vw;
	height: 100vh;
	position: relative;
}

#contacthead {
	position: absolute;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#contactinfo {
	background-color: black;
	width: 52vw;
	height: 26vw;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#address{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.95vw;
	width: 20vw;
	padding: 1vw;
	position: absolute;
	top: 3vw;
	left:4vw;
}

#phone{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.95vw;
	width: 20vw;
	padding: 1vw;
	position: absolute;
	bottom: 6vw;
	left:4vw;
}

#email{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.95vw;
	width: 20vw;
	padding: 1vw;
	position: absolute;
	top: 3vw;
	right:2vw;
}

#socialbox{
	color: white;
	font-size: 2vw;
	width: 20vw;
	padding: 1vw;
	position: absolute;
	bottom: 6vw;
	right:2vw;
}

#socialbox i{
	padding: 0.6vw;
}

#socialbox i:hover{
	color: #00c853;
}

.contactgroupheading{
	color: #00c853;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.10vw;
	padding-bottom: 0.6vw;
}

.contactgroupheading i{
	padding-right: 1vw;
}	

#map {
	width: 30vw;
	height: 40vh;
	position: absolute;
	right: 10vw;
	bottom: 20vh;
}

#contactbottom {
	background-color: #00c853;
	width: 48vw;
	height: 15vh;
	position: absolute;
	bottom: 0px;
	right: 0px;
}


/*
Tablet mode
*/
@media (max-width: 1200px) {

#gallery {
	background-color: #1e90ff;
	width: 100vw;
	height: auto;
	position: relative;
}

#galleryhead {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#arrowleft {
	background-color: white;
	width: 9vw;
	height: 8vh;
	position: absolute;
	bottom: 45vh;
	left: 0vw;
	z-index: 999;
}

#arrowright {
	background-color: lightblue;
	width: 9vw;
	height: 8vh;
	position: absolute;
	bottom: 45vh;
	left: 9vw;
	z-index: 999;
}

#item1 {
	background-color: white;
	width: 25vw;
	height: 45vh;
	position: absolute;
	bottom: 0vh;
	left: 0vw;
	z-index: 999;
}

#item2 {
	background-color: black;
	width: 25vw;
	height: 45vh;
	position: absolute;
	bottom: 0vh;
	left: 25vw;
	z-index: 999;
}

#item3 {
display: none;
}

#iteminfo {
	background-color: #ffd200;
	width: 50vw;
	height: 60vh;
	position: absolute;
	bottom: 15vh;
	right: 0px;
}

#gallerybottom {
	background-color: #f3115b;
	width: 25vw;
	height: 15vh;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
	
#events {
	background-color: #ffd200;
	width: 100vw;
	height: auto;
	position: relative;
}
	
#eventshead {
	position: relative;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#detail{
	position: relative;
	right: 8vw;
	top: 10.5vw;
	width: 35vw;
	height: 9vw;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
	font-size: 1vw;
	z-index: 999;
}

#detailheading{
	font-size: 3vw;
	font-weight: bold;
}	

.event {
	height: 50vw;
	width: 30vw;
	font-size: 2vw;
	font-family: 'Roboto Condensed', sans-serif;
}

.event p {
	padding: 15px;
}

#event1 {
	background-color: white;
	color: black;
}	

#event2 {
	background-color: black;
	color: white;	
}	

#event3 {
	background-color: white;
	color: black;
	display: none;
}	

.eventlist {
	position: relative;
	height: 55vw;
	width: 70vw;
	justify-content: space-around;
	z-index: 100;
}

.eventimg {
	width:100%;
	max-height:50%;
}

#eventcard {
	background-color: white;
	width: 100vw;
	height: 19vw;
	bottom: 0px;
	right: 0px;
	position: relative;
}

#members {
	background-color: white;
	width: 100vw;
	height: auto;
	position: relative;
}	
	
#membershead {
	position: relative;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#memberinfo {
	background-color: #f3115b;
	width: 100vw;
	height: 35vw;
	position: relative;
}
	
#contact {
	background-color: white;
	width: 100vw;
	height: auto;
	position: relative;
}	
	
#contacthead {
	position: relative;
	top: 3vw;
	left: 8vw;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13vw;
	font-weight: bold;
	z-index: 999;
}

#contactinfo {
	background-color: black;
	width: 100vw;
	height: 50vw;
	position: relative;
}

#address{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2vw;
	width: 40vw;
	padding: 2vw;
	position: absolute;
	top: 6vw;
	left:8vw;
}

#phone{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2vw;
	width: 40vw;
	padding: 2vw;
	position: absolute;
	bottom: 12vw;
	left:8vw;
}

#email{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2vw;
	width: 40vw;
	padding: 2vw;
	position: absolute;
	top: 6vw;
	right:4vw;
}

#socialbox{
	color: white;
	font-size: 4vw;
	width: 40vw;
	padding: 2vw;
	position: absolute;
	bottom: 12vw;
	right:4vw;
}

#socialbox i{
	padding: 1.2vw;
}

#socialbox i:hover{
	color: #00c853;
}

.contactgroupheading{
	color: #00c853;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.20vw;
	padding-bottom: 1.2vw;
}

.contactgroupheading i{
	padding-right: 2vw;
}	

#map {
	width: 100vw;
	height: 70vw;
	position: relative;
	right: 0vw;
	bottom: 0vw;
}

#contactbottom {
	background-color: #00c853;
	width: 100vw;
	height: 10vw;
	position: relative;
	bottom: 0px;
	right: 0px;
}


}
